@using SoundEquipment.Models
@model LoginPO

@{
    ViewBag.Title = "Login";
}

<h2>Log in</h2>


@using (Html.BeginForm("Login", "User", FormMethod.Post))

{
<div class="form-horizontal">
        @Html.LabelFor(model => Model.Username)

        <div class="form-group">
            @Html.TextBoxFor(model => Model.Username)
            @Html.ValidationMessageFor(model => Model.Username)
        </div>

        @Html.LabelFor(model => Model.Password)

        <div class="form-group">
            @Html.PasswordFor(model => Model.Password)
            @Html.ValidationMessageFor(model => Model.Password)
        </div>

        <input type="submit" value="Submit">
</div >
        }


        
